In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
import requests
from bs4 import BeautifulSoup
import re

### Wikipedia list of cetacea

In [3]:
wiki_url = 'https://en.wikipedia.org/wiki/List_of_cetaceans'

response = requests.get(wiki_url)
soup = BeautifulSoup(response.text, 'html.parser')

html_tables = soup.find_all('table', {'class': 'wikitable'})
family_names = soup.find_all('div', {'class': 'mw-heading mw-heading3'})
family_names = [name.find("h3")["id"] for name in family_names]

In [4]:
all_rows = []
for i, wiki_table in enumerate(html_tables):

    family_name = family_names[i]
    rows = wiki_table.find_all("tr")

    for row in rows:

        if 'Genus' in row.get_text():
            try:
                genus_name = row.find("i").find("b").get_text(strip=True)
            except:
                raise ValueError('problem with genus row: ', row)

        if 'Genus' not in row.get_text() and 'Scientific' not in row.get_text():
            info_row = []
            for col in row.find_all("td"):
                if col.find('i') is not None:
                    info = col.find('i').get_text(strip=True)
                elif col.find('b') is not None:
                    info = col.find('b').get_text(strip=True)
                else:
                    info = col.get_text(strip=True)
                info_row.append(info)
            row_info = [family_name, genus_name] + info_row
            all_rows.append(row_info)

first_table = html_tables[0].find_all("tr")
wiki_df = pd.DataFrame(all_rows, columns=['Family', 'Genus'] + [th.get_text(strip=True) for th in first_table[1].find_all("th")])

names = wiki_df.Family

family_latin = []
family_common = []

for name in names:
    result = re.search('Family_(.*):_', name)
    family_latin.append(result.group(1))
    result = re.search(':_(.*)', name)
    family_common.append(result.group(1))

wiki_df.drop(columns='Family', inplace=True)
wiki_df.insert(loc=0, column='Family_Greek', value=family_latin)
wiki_df.insert(loc=0, column='Family_common', value=family_common)

wiki_df.head()

,Family_common,Family_Greek,Genus,Common name,Scientific name,IUCN Red List status,Global population estimate,Range,Size,Picture
0,right_whales,Balaenidae,Balaena,Bowhead whale,Balaena mysticetus,LC,"10,000",,60 t (66 short tons),
1,right_whales,Balaenidae,Eubalaena,North Atlantic right whale,Eubalaena glacialis,CR,350,,40–80 t (44–88 short tons),
2,right_whales,Balaenidae,Eubalaena,North Pacific right whale,Eubalaena japonica,EN,"404–2,108[12]",,60–80 t (66–88 short tons),
3,right_whales,Balaenidae,Eubalaena,Southern right whale,Eubalaena australis,LC,"13,600[13]",,40–80 t (44–88 short tons),
4,rorquals,Balaenopteridae,Eubalaena,Balaenopteridae,None,None,None,None,None,None

#### Extracting images from the table

In [5]:
rows = html_tables[0].find_all("tr")
cols = rows[2].find_all("td")

pics = [cols[i] for i in range(len(cols)) if 'upload.wikimedia' in str(cols[i])]
base_url = "https:"

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"
}

for td in pics:
    soup = BeautifulSoup(str(td), "html.parser")
    img_tag = soup.find("img")
    if img_tag and "src" in img_tag.attrs:
        image_url = base_url + img_tag["src"]
        image_name = image_url.split("/")[-1]  # Extract filename
        
        response = requests.get(image_url, headers=headers, stream=True)
        if response.status_code == 200:
            with open(image_name, "wb") as file:
                for chunk in response.iter_content(1024):
                    file.write(chunk)
            print(f"Downloaded: {image_name}")
        else:
            print(f"Failed to download {image_url}, status code: {response.status_code}")

Downloaded: 150px-Cetacea_range_map_Bowhead_Whale.png
Downloaded: 250px-Bowhead_whale_size.svg.png
Downloaded: 150px-A_bowhead_whale_breaches_off_the_coast_of_western_Sea_of_Okhotsk_by_Olga_Shpak%2C_Marine_Mammal_Council%2C_IEE_RAS.jpg

### Tree of life

Check if the ceataceans are in a kaggle dataset with the tree of life of most animals.
Download link for tree of life files: https://www.kaggle.com/datasets/konivat/tree-of-life

In [6]:
links_df = pd.read_csv('data//treeoflife_links.xls')
nodes_df = pd.read_csv('data//treeoflife_nodes.csv')

In [7]:
nodes_df.head()

,node_id,node_name,child_nodes,leaf_node,tolorg_link,extinct,confidence,phylesis
0,1,Life on Earth,4,0,1,0,0,0
1,2,Eubacteria,24,0,1,0,0,0
2,2285,Aquificae,10,0,1,0,0,0
3,59615,Aquifex,0,0,0,0,0,0
4,59616,Calderobacterium,0,0,0,0,0,0

In [8]:
node_names = list(nodes_df['node_name'])
wiki_names = list(wiki_df['Scientific name'])
#wiki_names = [s.split()[0] for s in wiki_names if s!=None]
common = [i for i in node_names if i in wiki_names]
common

['Balaenoptera musculus',
 'Balaenoptera physalus',
 'Balaenoptera borealis',
 'Balaenoptera edeni',
 'Balaenoptera acutorostrata',
 'Megaptera novaeangliae',
 'Balaena mysticetus',
 'Eubalaena glacialis',
 'Eubalaena australis']

Since there are only 9 out of almost 100, we do not use the kaggle tree of life.